/* Colors */
:root {
  --primary-color: #28427b;
  --dark-color: #171717;
}

/* Some global rules */
html {
  font-size: 1rem;
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
}

button:focus {
  outline: none !important;
  box-shadow: none !important;
}

body {
  min-height: 100vh;
  position: relative;
}

.navbar {
  height: 100px;
  padding: 0;
}

/* Nav logo style */
.navLogo {
  margin: 0;
}

.navLogo a {
  font-weight: bold;
  color: var(--primary-color);
  font-size: 2.5rem;
  text-decoration: none;
}

small {
  font-size: 0.7rem;
  color: lightslategray;
}

.mobileLogo small {
  font-size: 1rem;
}

/* Navigation link style */
.nav-item a {
  color: black;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1rem;
  text-decoration: none;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  transition: 0.3s;
  background: linear-gradient(0deg, var(--primary-color), var(--primary-color))
    bottom center no-repeat;
  background-size: 0px 3px;
}

.nav-item a:hover {
  background-size: 100% 3px;
}

/* Full screen mobile menu navigation */
.mobileMenu {
  background: var(--dark-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  transition: 0.3s;
}

/* Trigger the visibility of the mobile menu */
.mobileMenu.hidden {
  visibility: hidden !important;
  opacity: 0;
  transition: 0.3s;
}

.mobileMenu.visible {
  visibility: visible !important;
  opacity: 1;
  transition: 0.3s;
}

/* Style for mobile menu open and close buttons */
#btnMobileMenu {
  border: none;
  font-size: 1.5rem;
}

#btnMobileMenuClose {
  border: none;
  font-size: 1.5rem;
}

/*Style for menu list */
.mobileNavItems {
  display: flex;
  flex-direction: column;
  list-style-type: none;
}

/* Style for menu items */
.mobileNavItems .nav-item {
  margin-bottom: 3rem;
}

/* Style for menu links */
.mobileNavItems .nav-item a {
  position: relative;
  display: inline-flex;
  font-weight: bold;
  font-size: 3rem;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}

/* Animated border under navigation items and a static one under navigation menu */
.mobileNavItems .nav-item a,
.navbar,
.tagline {
  background: linear-gradient(0deg, var(--primary-color), var(--primary-color))
    bottom center no-repeat;
  background-size: 0px 5px;
  transition: 0.3s;
}

.tagline {
  background-size: 100% 5px;
}

.tagline:hover {
  background-size: 80% 5px;
  transition: 0.3s;
}

.mobileNavItems .nav-item a:hover,
.navbar {
  background-size: 100% 5px;
  transition: 0.3s;
}

/* Container class */
.wrapper {
  margin: 1rem;
  min-height: calc(100vh - 200px);
  display: flex;
}

/* Image style and shadow */
#image {
  height: 600px;
  filter: drop-shadow(-140px -140px 5px rgba(0, 0, 0, 0.5));
  margin-top: 2rem;
  transition: 0.5s;
}

#image:hover {
  filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.5));
}

/* Footer style */
footer {
  padding: 0;
  margin: 0;
  height: 50px;
  display: flex;
  align-items: flex-end;
  padding-bottom: 10px;
  justify-content: center;
  font-size: 0.7rem;
}

/* Testing */
.flex-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  transform-style: preserve-3d;
}
.flex-container .flex-item {
  position: relative;
  width: 300px;
  height: 400px;
  margin: 15px;
  background: var(--primary-color);
  border-radius: 20px;
  transform-style: preserve-3d;
}

.flex-container .flex-item::before {
  content: 'SPORTX';
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 5me;
  font-weight: 900;
  color: #fff;
  font-style: italic;
  opacity: 0;
  transition: 0.5s;
}

.flex-container .flex-item::after {
  position: absolute;
  bottom: 20px;
  right: 20px;
  font-size: 5me;
  font-weight: 900;
  color: #fff;
  font-style: italic;
  opacity: 0;
  transition: 0.5s;
}

.flex-container .team.flex-item::after {
  content: 'TEAM';
}
.flex-container .venue.flex-item::after {
  content: 'VENUE';
}
.flex-container .league.flex-item::after {
  content: 'LEAGUE';
}

.flex-container .flex-item:hover:before,
.flex-container .flex-item:hover:after {
  opacity: 0.2;
}

.flex-container .flex-item .name {
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  color: #fff;
  width: 100%;
  transform-style: preserve-3d;
  transform: translate3d(0, 0, 75px);
  transition: 0.5s;
  opacity: 0;
  z-index: 10;
}

.flex-container .flex-item:hover .name {
  top: 40px;
  opacity: 1;
}

.flex-container .flex-item .country-logo {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 15%;
  height: 15%;
  transform-style: preserve-3d;
  transform: translate3d(-50%, 0, 75px);
  transition: 0.5s;
  opacity: 0;
  z-index: 10;
}

.flex-container .flex-item:hover .country-logo {
  bottom: 30px;
  opacity: 1;
}

.flex-container .flex-item .circle {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  transition: 0.5s;
  background: #fff;
  transform-style: preserve-3d;
  z-index: 10;
  opacity: 1;
  transform: translate3d(-50%, -50%, 0px);
}

.flex-container .flex-item .logo {
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 140px;
  border-radius: 10px;
  max-height: 140px;
  transform-style: preserve-3d;
  transition: 0.5s;
  z-index: 11;
  transform: translate3d(-50%, -50%, 0px);
}

.flex-container .flex-item:hover .logo {
  transform: translate3d(-50%, -50%, 100px);
}

/* Media query for font size */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  html {
    font-size: 0.7rem;
  }
  #image {
    filter: drop-shadow(-60px -60px 5px rgba(0, 0, 0, 0.5));
    height: 240px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  html {
    font-size: 0.9rem;
  }
  #image {
    filter: drop-shadow(-60px -60px 5px rgba(0, 0, 0, 0.5));
    height: 350px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  html {
    font-size: 1rem;
  }
  #image {
    height: 400px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  html {
    font-size: 1.2rem;
  }
  #image {
    height: 500px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  html {
    font-size: 1.4rem;
  }
  #image {
    height: 600px;
  }
}
